
<div class="centered-container">
  <%= image_tag 'homepage_image.webp', alt: 'Home Page Image', class: 'background-image'  %>
</div>

<footer class="footer">
  Copyright @2024. All rights reserved!!
</footer>